.mi{
    height: 320px;
    width: 80%;
    
    margin-top: 36px;
    display: flex;
    margin-left: 10%;
}
body{
    background-color: rgb(204, 199, 204);
}
img{
    position: relative;
    left: 10px;
    top: 1px;
    border-radius: 50%;
}
.mi h1{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 300%;
}
.mi h4{
    position: relative;
    right: 130px;
    top:120px;
    font-size: 200%;
}
.content,.footer{
    height: 220px;
  
    margin-top: 20px;
    width: 90%;
    margin-left: 6% ;
}
.content h1{
    font-size: 300%;
}


